@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1458926827868-9f3589b48637?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-blend-mode: overlay;
}
.header-content {
  margin-bottom: 150px;
  color: white;
  text-align: center;
}
.header-content h2 {
  font-size: 4vmin;
}
.line {
  width: 150px;
  height: 4px;
  background: red;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
.ctn {
  padding: 8px 15px;
  background-color: #fc036b;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
